

  
  *{
    padding:0;
    margin:0;
    box-sizing:border-box;
   
  }
  .overlayer{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.4);
    
  }
  
  a {
    color: #000;
    background-color: #fff;
  }
  .signup{
    color:rgb(247, 247, 17);
  }

  .app{
    
    background-image: url('../../assets/reelbg.jpg');
    color:#000;
    height:100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: auto;
    display:flex;
    
    flex-direction:column;
    justify-content: center;
    font-size: .8rem;
    transition: all .5s;
  }
  
  .container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 300px;
    height:400px;
    margin-bottom:5px;
    box-shadow: 0px 0px 12px #333;
    border-radius: 8px;
    background-color: #fff;
    font-weight: 500;
  
  
  }
  
  
  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color:#ffffff;
  
  }
  
  .top i {
    font-size: 1rem;
    color:#000;
    
  }
  
  .divider{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: .1rem;
    margin: 2rem 0;
  }
  
  span{
    padding:0 10px;
  }
   input{
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #ffffff;
    color: #000;
   }
  
  .button {
    background-color: rgb(247, 247, 17);
    border: 1px solid rgb(247, 247, 17);
    color: black;
    margin: 16px 0;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size:20px;
  }
  .theme-toggle i {
    margin-top: 20px;
    text-align:right;
    font-size: 2rem;
    cursor: pointer;
    color:white;
  }
  input:focus{
    border:yellowgreen;
  }
  span{
   text-decoration: none;
   border-radius: 4px;
   margin-left:4px;
   font-weight:100px;
   color:black;
    cursor: pointer;
  }
  
  
  @media screen and (max-width:478px) {
    .login {
      width: 95%;
    }
  }
  
  body {
    margin: 1px;
  
      }
  
  
  