@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Urbanist:ital,wght@0,100;0,200;0,500;1,100;1,200&display=swap');
*{
    margin:0;
}
a{
    background: none;
}
.remove-underline{
    text-decoration: none;
}

  .custom-input{
    height: 40px;
    width: 200px;
  }
  .searchBtn{
    height: 40px;
  }